<div class="container">


  <!--Grid column-->
  <div id="packagesTypes" class="col-md-12 text-center">
    <!--Section: Products v.2-->
    <section class="text-center pb-3 my-3">
      <!--Section heading-->
      <h2 class="h1 font-weight-bold text-center h1 py-5">Package Types</h2>
      <!--Section description-->
<!--      -->
<!--      <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam-->
<!--        iure provident voluptate esse quasi,-->
<!--        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>-->


      <div class="row">

        <div class="col-md-12">
          <!--Card-->
          <mdb-card cascade="true" wider="true">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light img-fluid" style="background-position: center top;" mdbWavesEffect>
              <mdb-card-img src="../assets/images/6.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight" style="background-position: center -60%;"></div>
              </a>
            </div>
            <!--/Card image-->

            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h3 class="gold-text">
                <mdb-icon fas icon="concierge-bell"></mdb-icon>
                Hospitality
              </h3>
              <!--Title-->
              <h5 class="card-title">Variety Of Services</h5>
              <!--Text-->

              <mdb-card-text>
                Consists of variety of services. Value added services such as lodging in Mina towers, return flights land transportation to Makkah, inclusive of the essential services. Further, Haj Service providers may include optional additional services.
              </mdb-card-text>

              <mdb-card-footer>
                <span class="float-left font-weight-bold">
                  <strong>6,508 SAR - 11,905 SAR</strong>
                </span>
                        <span class="float-right">
                   <a class="" data-toggle="tooltip" data-placement="top" title="details" (click)="frame.show()" mdbWavesEffect>
                    <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>


            </mdb-card-body>
            <!--/.Card content-->

          </mdb-card>
          <!--/.Card-->
        </div>

        <div class="col-md-6 my-4">
          <!--Card-->
          <mdb-card cascade="true" wider="true">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/images/5.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->

            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h3 class="gold-text">
                <mdb-icon fas icon="wallet"></mdb-icon>
                Economical 1
              </h3>
              <!--Title-->
              <h5 class="card-title">Value Driven</h5>
              <!--Text-->

              <mdb-card-text>
                A Value driven with several options in lodging in Mina camps, and a return land transportation from the city of the pilgrim. In addition to the Mashaer train services.
              </mdb-card-text>

              <mdb-card-footer>
                <span class="float-left font-weight-bold">
                  <strong>3,447 SAR - 4,797 SAR</strong>
                </span>
                <span class="float-right">
                   <a class="" data-toggle="tooltip" data-placement="top" title="details" (click)="frame.show()" mdbWavesEffect>
                    <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>


            </mdb-card-body>
            <!--/.Card content-->

          </mdb-card>
          <!--/.Card-->
        </div>

        <div class="col-md-6 my-4">
          <!--Card-->
          <mdb-card cascade="true" wider="true">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/images/5.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->

            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h3 class="gold-text">
                <mdb-icon fas icon="hand-holding-usd"></mdb-icon>
                Economical 2
              </h3>
              <!--Title-->
              <h5 class="card-title">Essential</h5>
              <!--Text-->

              <mdb-card-text>
                Designed to accommodate all the essential services with a fixed rate, and to those who wish to lodge in approved Accommodation buildings, and facilities to utilize Mashaer train during days of Tashreeq.
              </mdb-card-text>

              <mdb-card-footer>
                <span class="float-left font-weight-bold">
                  <strong>3,465 SAR</strong>
                </span>
                <span class="float-right">
                   <a class="" data-toggle="tooltip" data-placement="top" title="details" (click)="frame.show()" mdbWavesEffect>
                    <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                  </a>
                </span>
              </mdb-card-footer>


            </mdb-card-body>
            <!--/.Card content-->

          </mdb-card>
          <!--/.Card-->
        </div>
      </div>
    </section>
    <!--Section: Products v.2-->
  </div>
  <!--Grid column-->
  <div>
  </div>


  <!--Modal package details-->
  <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="h2-responsive product-name">
                <strong>Hospitality</strong>
              </h2>
              <h4 class="h4-responsive">
              <span class="green-text">
                <strong>6,508 SAR - 11,905 SAR</strong>
              </span>
              </h4>

              <!--Accordion wrapper-->
              <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                <mdb-item [collapsed]="true" *ngFor="let item of itemsList">
                  <mdb-item-head> {{ item.title }} </mdb-item-head>
                  <mdb-item-body> {{ item.description }} </mdb-item-body>
                </mdb-item>
              </mdb-squeezebox>
              <!--/.Accordion wrapper-->

              <!-- Add to Cart -->
              <div class="card-body">
                <!--      <div class="row">
                        <div class="col-md-6">
                          <div class="md-form">
                            <mdb-select [options]="colorSelect" placeholder="Choose your color"></mdb-select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="md-form">
                            <mdb-select [options]="sizeSelect" placeholder="Choose your size"></mdb-select>
                          </div>
                        </div>
                      </div>-->
                <div class="text-center">

                  <button type="button" mdbBtn style="background-color: #c1a14e; color: white" class="waves-light"
                          mdbWavesEffect (click)="frame.hide()"
                          data-dismiss="modal">Close
                  </button>
                  <button mdbBtn style="background-color:#366f5c;color: white" class="waves-light" mdbWavesEffect>
                    Book Now
                    <mdb-icon fas icon="cart-plus" class="ml-2" aria-hidden="true"></mdb-icon>
                  </button>
                </div>
              </div>
              <!-- /.Add to Cart -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
