<!--Grid column-->
<div id="packages" class="col-md-12 text-center animated slideInUp infinite">
  <!--Section: Products v.2-->
  <section class="text-center pb-3 my-5">
    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center h1 py-5">Package Types</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
      iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <div class="view view-cascade gradient-card-header blue-gradient">
              <h2 class="card-header-title mb-2">Hospitality</h2>
            </div>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Hospitality</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Variety Of Services</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Consists of variety of services. Value added services such as lodging in Mina towers, return
              flights land transportation to Makkah, inclusive of the essential services.
              Further, Haj Service providers may include optional additional services.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
        <span class="float-left font-weight-bold">
          <strong>6,508 SAR - 11,905 SAR</strong>
        </span>
              <span class="float-right">
           <a class="" data-toggle="tooltip" data-placement="top" title="details"  (click)="frame.show()" mdbWavesEffect>
            <mdb-icon far icon="eye" class="grey-text ml-3" ></mdb-icon>
          </a>
        </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <div class="view view-cascade gradient-card-header" style="background-color: #c1a14e">
              <h2 class="card-header-title mb-2">Economical 1</h2>
            </div>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5  >Economical 1</h5>
            </a>
            <mdb-card-title >
              <h4 class="card-title" >
                <strong>
                  <a href="" style="color: #c1a14e">Value Driven</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>A Value driven with several options in lodging in Mina camps, and a return land
              transportation from the city of the pilgrim. In addition to the Mashaer train services.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
        <span class="float-left font-weight-bold">
          <strong>3,447 SAR - 4,797 SAR</strong>
        </span>
              <span class="float-right">
           <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
            <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
          </a>
        </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <div class="view view-cascade gradient-card-header blue-gradient">
              <h2 class="card-header-title mb-2">Economical 2</h2>
            </div>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Economical 2</h5>
            </a>
            <mdb-card-title>
              <h4>
                <strong>
                  <a href="">Essential</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Designed to accommodate all the essential services with a fixed rate, and to those who wish
              to lodge in approved Accommodation buildings, and facilities to utilize Mashaer train during days of
              Tashreeq.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
        <span class="float-left font-weight-bold">
          <strong>3,465 SAR</strong>
        </span>
              <span class="float-right">
          <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
            <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
          </a>
        </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Products v.2-->
</div>
<!--Grid column-->


<!--Modal package details-->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <!--
          <div class="col-lg-5">
            &lt;!&ndash;Carousel Wrapper&ndash;&gt;
            <mdb-carousel [isControls]="true" [animation]="'slide'">
              &lt;!&ndash;First slide&ndash;&gt;
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                     alt="First slide">
              </mdb-slide>
              &lt;!&ndash;/First slide&ndash;&gt;
              &lt;!&ndash;Second slide&ndash;&gt;
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                     alt="Second slide">
              </mdb-slide>
              &lt;!&ndash;/Second slide&ndash;&gt;
              &lt;!&ndash;Third slide&ndash;&gt;
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                     alt="Third slide">
              </mdb-slide>
              &lt;!&ndash;/Third slide&ndash;&gt;
            </mdb-carousel>
            &lt;!&ndash;/.Carousel Wrapper&ndash;&gt;
          </div>
          -->
          <div class="col-lg-12">
            <h2 class="h2-responsive product-name">
              <strong>Hospitality</strong>
            </h2>
            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>6,508 SAR - 11,905 SAR</strong>
              </span>
<!--              <span class="grey-text">-->
<!--                <small>-->
<!--                  <s>$89</s>-->
<!--                </small>-->
<!--              </span>-->
            </h4>

            <!--Accordion wrapper-->
            <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
              <mdb-item [collapsed]="true" *ngFor="let item of itemsList">
                <mdb-item-head> {{ item.title }} </mdb-item-head>
                <mdb-item-body> {{ item.description }} </mdb-item-body>
              </mdb-item>
            </mdb-squeezebox>
            <!--/.Accordion wrapper-->

            <!-- Add to Cart -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <mdb-select [options]="colorSelect" placeholder="Choose your color"></mdb-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <mdb-select [options]="sizeSelect" placeholder="Choose your size"></mdb-select>
                  </div>
                </div>
              </div>
              <div class="text-center">

                <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="frame.hide()"
                        data-dismiss="modal">Close</button>
                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Add to cart
                  <mdb-icon fas icon="cart-plus" class="ml-2" aria-hidden="true"></mdb-icon>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
