<!--Intro Section-->
<section class="view"
         style="background-image: url('./assets/images/398064.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center 80%;">

  <div class="mask rgba-gradient">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
            <div class="white-text">
              <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Ministry of Haj & Umrah </h2>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <p class="wow fadeInLeft" data-wow-delay="0.3s">Nursery Seasonal Services for Local Pilgrims ursery
                Seasonal Services for Local Pilgrim ursery Seasonal Services for Local Pilgrim</p>
              <br>
              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                 mdbWavesEffect>
                Book Now
              </a>
            </div>
          </div>

          <div class="col-lg-6 wow fadeIn">
            <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
              <iframe class="embed-responsive-item" src="https://youtube.com/embed/uDpwPIkxxnE"
                      allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




